<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DALSqlAssembly" value="TourPlanner.DataAccess.PostgresSqlServer"/>
		<add key ="DALApiAssembly" value="TourPlanner.DataAccess.API"/>
	</appSettings>
	<connectionStrings>
		<add name="ApiKey" connectionString="xFA4sS7TC6RZk5gGZSr2vmcljK87l692"/>
		<add name="PostgresSqlConnectionString" connectionString="Server=127.0.0.1;Port=5432;Database=tourplannerdb;User Id=postgres;Password=postgres"/>
	</connectionStrings>
</configuration>